* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spinnaker", sans-serif;
}

img {
  width: 300px;
}

.hero {
  background-image: url("images/portharcourt.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  /* margin-bottom: 50px; */
}

.hero-heading {
  font-size: 50px;
  background-color: #1D3557;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.hero-paragraph {
  font-size: 27px;
  background-color: white;
  max-width: 700px;
  text-align: center;
  border-radius: 4px;
  color: #1D3557;
}

/* ACTIVITIES */


.main {
  padding-top: 50px;
  background-color: #F1FAEE;
  color: #1D3557;
  font-size: 18px;
}

.activities {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.activity-header {
  text-align: center;
}

.img-sample {
  border-radius: 12px;
}


.pleasurepark,
.portharcourtzoo,
.amusementpark {
  width: 300px;
  height: 350px;
}

.main-activities {
  padding: 10px;
}

/* Guide */

.profile {
  background-color: black;
}

.profile-content {
  display: flex;
  align-items: center;
  background-color: #A8DADC;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 12px;
}

.profile-sub-content {
  text-align: center;
}

.profile-heading {
  padding-bottom: 40px;
  color: #1D3557;
}


.profile-paragraph {
  padding-bottom: 25px;
  color: #1D3557;
}

.profile-image {
  border-radius: 24px;
  width: 240px;
}